.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.contact-container h2 {
  color: #d63384;
}

.contact-subtitle {
  color: #555;
  margin-bottom: 20px;
}

.contact-content {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.contact-info {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  line-height: 30px;
  width: 100%;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  background: #d63384;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #b02a6b;
}

.success {
  color: green;
  font-size: 14px;
}

/* Responsive */
@media (min-width: 600px) {
.contact-container{
     max-width: 1000px;
}

  .contact-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    
    
  }

  .contact-info,
  .contact-form {
    line-height: 40px;
    width: 48%;
  }
}