


/* Header Layout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.logoIcon {
  width: 100px;
  
}

.logoName {
width: 50px;

}

/* Navigation Desktop */
.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  transition: 0.3s;
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
.logoName {
display: none;

}

  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: 0.3s;
  }

  .nav.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

}